#header {
    background: #1bbc9b;
    position: fixed;
    width: 100%;
    height: 50px;
    left:0px;
    right:0px;
    top: 0;
    z-index: 1;
}


#body { 
	background-color: #ebf1f1;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: "Segoe UI";
    font-size: 1.0em;
}

#footer{
    background-color:#1bbc9b;
    position:fixed;
    bottom:0px;
    left:0px;
    right:0px;
    height:50px;
    margin-bottom:0px;
}

.menu{
	margin-left: 52%;
}

.hidden {
	display: none;
}

.menu-icon {
    background-image: url("../img/menu.png");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    background-size: 90%;
    float: left;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

/* Icones do menu */

.icard {
    background-image: url("../img/icard.png");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    background-size: 100%;
    float: left;
}

.aicon {
    margin-left: 5px;
    float: left;
    clear: both;
}

.iserv {
    background-image: url("../img/iserv.png");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    background-size: 100%;
    float: left;
}

.iativ {
    background-image: url("../img/iativ.png");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    background-size: 100%;
    float: left;
}

.iinst {
    background-image: url("../img/iinst.png");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    background-size: 100%;
    float: left;
}

.iparc {
    background-image: url("../img/iparc.png");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    background-size: 100%;
    float: left;
}

.isol {
    background-image: url("../img/isol.png");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    background-size: 100%;
    float: left;
}

.imin {
    background-image: url("../img/imin.png");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    background-size: 100%;
    float: left;
}

.thename {
    line-height: 40px;
    text-align: center;
    font-family: "Segoe UI";
    font-size: 1.0em;
    text-transform: uppercase;
    color: white;
    font-weight: 500;
    float: left;
}

.clear {
	clear: both;
}

.titulo {
    float: left;
    margin-top: 15px;
    margin-left: 10px;
}

.notification {
	background-image: url("../img/noti.png");
    background-repeat: no-repeat;
    display: block;
    width: 40px;
    height: 40px;
    background-size: 100%;
    float: right;
    margin-top: 5px;
    margin-right: 10px;
    z-index: 1;
}

.conteudo {
    background-color: #ebf1f1;
    margin-top: 60px;
}

#footer {
	height: 50px;
	width: 100%;
}

.refresh-icon {
	height: 40px;
	width: 40px;
	background-image: url("../img/refresh.png");
	background-repeat: no-repeat;
    background-size: 100%;
    margin: 0 auto;
    margin-top: 5px;
}

.apbloco {
    width: 95%;
    margin-left: 2.5%;
    background-color: blue;
    height: 100px;
    margin-bottom: 30px;
}

.blocotitle {
	background-color:#1bbc9b;
	color: white;
	width: 200px; 
	height: 40px;
	font-weight: bold;
}

.blcttl {
    display: block;
    line-height: 40px;
    text-align: center;
    font-family: "Segoe UI";
    font-size: 1.0em;
    text-transform: uppercase;
}

.titdesc {
    margin-left: 12px;
    font-weight: 800;
    color: #16a086;
}

.descativ {
    width: 95%;   
    color: #4d8b7c;
    font-size: 14px;
    margin: 0 auto;
}

.list2col {
    line-height: 35px;
    text-align: center;
    width: 95%;
    color: white;
    margin: 0 auto;
    margin-top: 10px;
}

.l2chead {
    background-color: #16a086;
}

.l2chesq {
    float: left;
    width: 30%;
    background-color: #16a086;
}

.l2chdir {
    float: left;
    width: 70%;
    background-color: #16a086;
}

.l2cesq {
    margin-top: 5px;
    float: left;
    width: 30%;
}

.l2cdir {
    margin-top: 5px;
    float: left;
    width: 70%;
}

.l2crow {
    margin-top: 1px;
    background-color: #1cbb9b;
}