body { 
	background-color: #ebf1f1;
    font-family: "Segoe UI";
    font-size: 62.5%;
}

#header {
    background: #1bbc9b;
    position: fixed;
    width: 100%;
    height: 50px;
    left:0px;
    right:0px;
    top: 0;
    z-index: 1;
    font-size: 1.6em;
}


#body { 
	background-color: #ebf1f1;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 1.6em;
}

#conteudo {
    width: 100%;
    background-color: #ebf1f1;
    margin: 0 auto;
    padding-top: 10px;
}

#footer{
    background-color:#1bbc9b;
    position:fixed;
    bottom:0px;
    left:0px;
    right:0px;
    height:50px;
    margin-bottom:0px;
    font-size: 1.6em;
}

.menu{
	margin-left: 52%;
}

.hidden {
	display: none;
}

.menu-icon {
    background-image: url("../img/menu.png");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    background-size: 90%;
    float: left;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

/* Icones do menu */

.icard {
    background-image: url("../img/icard.png");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    background-size: 100%;
    float: left;
}

.aicon {
    margin-left: 5px;
    float: left;
    clear: both;
}

.ihosp {
    background-image: url("../img/ihosp.png");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    background-size: 100%;
    float: left;
}

.ioper {
    background-image: url("../img/ioper.png");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    background-size: 100%;
    float: left;
}

.iprof {
    background-image: url("../img/iprof.png");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    background-size: 100%;
    float: left;
}

.iserv {
    background-image: url("../img/iserv.png");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    background-size: 100%;
    float: left;
}

.iativ {
    background-image: url("../img/iativ.png");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    background-size: 100%;
    float: left;
}

.iinst {
    background-image: url("../img/iinst.png");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    background-size: 100%;
    float: left;
}

.iparc {
    background-image: url("../img/iparc.png");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    background-size: 100%;
    float: left;
}

.isol {
    background-image: url("../img/isol.png");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    background-size: 100%;
    float: left;
}

.imin {
    background-image: url("../img/imin.png");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    background-size: 100%;
    float: left;
}

.thename {
    line-height: 40px;
    text-align: center;
    font-family: "Segoe UI";
    font-size: 1.0em;
    text-transform: uppercase;
    color: white;
    font-weight: 500;
    float: left;
}

.clear {
	clear: both;
}

.titulo {
    float: left;
    margin-top: 15px;
    margin-left: 10px;
}

.notification {
	background-image: url("../img/noti.png");
    background-repeat: no-repeat;
    display: block;
    width: 40px;
    height: 40px;
    background-size: 100%;
    float: right;
    margin-top: 5px;
    margin-right: 10px;
    z-index: 1;
}

.conteudo {
    margin-top: 60px;
    width: 100%;
    min-height: 50%;
}

#footer {
	height: 50px;
	width: 100%;
}

.refresh-icon {
	height: 40px;
	width: 40px;
	background-image: url("../img/refresh.png");
	background-repeat: no-repeat;
    background-size: 100%;
    margin: 0 auto;
    margin-top: 5px;
}

.cart-icon {
	height: 40px;
	width: 40px;
	background-image: url("../img/cart.png");
	background-repeat: no-repeat;
    background-size: 100%;
    margin: 0 auto;
    margin-top: 5px;
}

.apbloco {
    width: 95%;
    margin-left: 2.5%;
    background-color: blue;
    height: 100px;
    margin-top: 30px;
    background-size: cover;
}

.blocotitle {
	background-color:#1bbc9b;
	color: white;
	width: 200px; 
	height: 40px;
	font-weight: bold;
}

.blcttl {
    display: block;
    line-height: 40px;
    text-align: center;
    font-family: "Segoe UI";
    font-size: 1.0em;
    text-transform: uppercase;
}

.titdesc {
    margin-top: 10px;
    margin-left: 12px;
    font-weight: 500;
    font-size: 1.6em;
    color: #16a086;
}

.descativ {
    width: 95%;   
    color: #4d8b7c;
    font-size: 1.2em;
    margin: 0 auto;
    margin-top: 10px;
}

.list2col {
    line-height: 35px;
    text-align: center;
    width: 95%;
    color: white;
    margin: 0 auto;
    margin-top: 10px;
}

.l2chead {
    background-color: #16a086;
}

.l2chesq {
    float: left;
    width: 30%;
    background-color: #16a086;
}

.l2chdir {
    float: left;
    width: 70%;
    background-color: #16a086;
}

.l2cesq {
    margin-top: 5px;
    float: left;
    width: 30%;
}

.l2cdir {
    margin-top: 5px;
    float: left;
    width: 70%;
}

.l2crow {
    margin-top: 1px;
    background-color: #1cbb9b;
}

.voltar {
    color: white;
    line-height: 50px;
    text-align: center;
    float: left;
    font-weight: 550;
    margin-left: 20px;
}

.salvar {
    color: white;
    line-height: 50px;
    text-align: center;
    float: right;
    font-weight: 550;
    margin-right: 20px;
}

.newitem {
    color: white;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 550;
    float: left;
    margin-left: 20px;
    
}

.thecampo {
    height: 50px;
    width: 400px;
    margin-top: 10px;
    text-transform: uppercase;
}

.ccadi {
    line-height: 25px;
    width: 200px;
    color: #1bbc9b;
    font-weight: 600;
    text-transform: uppercase;
}

.inputd {
    line-height: 25px;
    width: 200px;
}

/* TELA DE LOGIN */

.loginform {
    width: 200px;
    height: auto;
    margin:  0 auto;
    margin-top: 70px;
}

button {
    line-height: 50px;
    font-weight: 550;
    background-color: #1bbc9b;
    text-align: center;
    color: white;
    width: 203px;
    margin-top: 20px;
    border: none;
    
}

.infocol {
    width: auto;
    margin-top: 20px;
}

.infocoll {
    height: 40px;
    width: 48%;
    float: left;
}

.infocolr {
    line-height: 40px;
    width: 48%;
    float: right;
}

.qntbox {
    width: 100%;
    height: 40px;
}

.qntinfo {
    line-height: 40px;
    text-align: center;
    background-color: #1bbc9b;
    color: white;
    width: 70%;
    float: left;
    
}

.qntdd {
    height: 40px;
    text-align: center;
    width: 28%;
    background-color: white;
    color: #51a291;
    font-size: 1.0em;
    float: left;
}

.pricebox {
    line-height: 40px;
    background-color: #1bbc9b;
    color: white;
}

.priceinfo {
    width: 70%;
    float: left;
    background-color: #1bbc9b;
    text-align: center;
}

.theprice {
    width: 30%;
    float:left; 
    background-color: #1bbc9b;
    text-align: center;
}

/* Cardapio */

.cardbox {
    width: 95%;
    margin-left: 2.5%;
    height: 40px;
    margin-top: 5px;
    
}

.c2iinfo {
    height: 40px;
    text-align: center;
    color: white;
    background-color: #1bbc9b;
    width: 60%;
    float: left;
    
}

.c2iqntdd {
    line-height: 40px;
    text-align: center;
    width: 40%;
    background-color: white;
    color: #51a291;
    font-size: 1.0em;
    float: left;
}

.titcard {
    margin-top: 10px;
    margin-left: 12px;
    font-weight: 500;
    font-size: 1.2em;
    color: #16a086;
}

.desccard {
    width: 100%;   
    color: #4d8b7c;
    font-size: 1.0em;
    margin: 0 auto;
    margin-top: 10px;
}

.img-produto {
	max-width: 80%;
	margin-top: 15px;
	margin-left: 10%;
	border: 2px solid #51a291;
}